<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form action="/products/add" method="POST">
          <input id="id" type="hidden" name="id" th:value="(${product} != null ? ${product.getId()} : '')">
          <div class="form-group">
            <label for="name">Product name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:value="(${product} != null ? ${product.getName()} : '')"
                   required
                   placeholder="Enter product name">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text"
                   class="form-control"
                   id="price"
                   name="price"
                   th:value="(${product} != null ? ${product.getPrice()} : '')"
                   placeholder="Price">
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text"
                   class="form-control"
                   id="quantity"
                   name="quantity"
                   th:value="(${product} != null ? ${product.getQuantity()} : '')"
                   placeholder="Quantity">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
              <option th:if="${product} != null"
                      th:selected="${product.getCategory() != null &&
                                product.getCategory().getId() == cat.getId()}"
                      th:each="cat : ${categories}"
                      th:value="${cat.getId()}"
                      th:text="${cat.getName()}">
              </option>
              <option th:if="${product} == null"
                      th:each="cat : ${categories}"
                      th:value="${cat.getId()}"
                      th:text="${cat.getName()}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Manufacturer</label>
            <select name="manufacturer" class="form-control">
              <option th:if="${product} != null"
                      th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == man.getId()}"
                      th:each="man : ${manufacturers}"
                      th:value="${man.getId()}"
                      th:text="${man.getName()}">
              </option>
              <option th:if="${product} == null"
                      th:each="man : ${manufacturers}"
                      th:value="${man.getId()}"
                      th:text="${man.getName()}">
              </option>
            </select>
          </div>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-primary" href="/products">Back</a>
        </form>
      </div>
    </div>
  </div>


</th:block>
