<th:block>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login form</title>
    <link href="/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:method="POST" th:action="@{login}">
    <label>Username: </label>
    <input type="text" name="username"/>
    <br/>
    <label>Password: </label>
    <input type="password" name="password"/>
    <br/>
    <div th:if="${hasError}" class="error">
        <div th:text="${error}" class="error"></div>
    </div>
    <input type="submit" th:value="Submit">
</form>
<a href="/register" class="btn btn-primary">Register Here!</a>
</body>
</html>
</th:block>